


# Data Files

data.txt
data_test2.txt
data_test_1.txt
data_test_2.txt
data_test_3.txt
data_test_27.txt
dalt_d.txt
ParseOutput.txt
ParseOutput.csv


# Test code files
basic_checkbutton.py
basic_dropdown.py
dataman.py
dataparse.py
dataparse_2.py
dataparse_3.py
grabfile.py
params_parser.py
sorting_files.py
testing.py

FQNETDAQ.old.c
FQNETDAQ.old2.c
FQNETDAQ_bad.c
FQNETDAQ_bad41819.c



